summary {cursor:default;}
/* Polyfills */
/* 0. <details /> */
.no-details details {
	display:block;
}
.no-details details > * {
	display:none;
}
.no-details details > summary,
.no-details details[open] > * {
	display:block;
}
.no-details details > summary:before {
	content:'\25b8\00a0';
	display:inline-block;
	vertical-align:middle;
	position:relative;
	top:-.15em;
}
.no-details details[open] > summary:before { content: '▾\00a0'; }

.kcs-input::-webkit-input-placeholder {
	color:#ccc;
	font-style:italic;
}
.kcs-input:-moz-placeholder {
	color:#ccc;
	font-style:italic;
}


/* Always show scrollbar on the builder page */
body.settings_page_kcsb,
body.kc-settings-page {
	overflow-y:scroll;
}

/* Metaboxes */
#kc-settings-form .meta-box-sortables {
	margin-left:16px;
	min-height:0;
}
#kc-settings-form #postbox-container-1 .meta-box-sortables {margin-left:0}
#kc-settings-form .metabox-holder.columns-1 .postbox-container {
	width: 100%;
}

#kc-settings-form .metabox-holder.columns-2 .postbox-container {
	width: 49.5%;
}

#kc-settings-form .metabox-holder.columns-2 #postbox-container-2,
#kc-settings-form .metabox-holder.columns-2 #postbox-container-3,
#kc-settings-form .metabox-holder.columns-2 #postbox-container-4 {
	float: right;
	width: 50.5%;
}

#kc-settings-form .metabox-holder.columns-3 .postbox-container {
	width: 33.5%;
}

#kc-settings-form .metabox-holder.columns-3 #postbox-container-1 {
	width: 33%;
}

#kc-settings-form .metabox-holder.columns-3 #postbox-container-3,
#kc-settings-form .metabox-holder.columns-3 #postbox-container-4 {
	float: right;
}

#kc-settings-form .metabox-holder.columns-4 .postbox-container {
	width: 25%;
}

#kc-settings-form .mceIframeContainer,
.postbox  .mceIframeContainer {
	background:#fff;
}

.section-desc {
	margin:1.5em 0;
	line-height:1.4;
}

.actions p, p.actions {
  display:inline-block;
	text-transform:lowercase;
	color:#333;
}
.actions a {cursor:pointer}
.actions a:before {
  content:' | ';
  color:#333}
.actions a:first-child:before {content:''}
.actions p {margin:0}

input.kcs-input {
	width:25em;
	border-width:1px;
	border-style:solid;
	border-radius:3px;
	padding:3px;
	margin:1px;
	background-color:#fff;
	border-color:#dfdfdf;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.kcs-textarea,
#wpcontent .kcs-rows textarea {
	width:99%;
	min-height:8em;
	max-height:10em;
	resize:vertical;
}

/* Sortable */
.kc-rows {
	position:relative;
	margin:0;
	padding:0;
	clear:both;
}
.kc-rows .row {
	position:relative;
	margin:0;
	clear:both;
	padding:6px;
}
.removing,
.adding,
.kc-rows .ui-sortable-helper,
.kc-rows .ui-sortable-placeholder {
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
	padding:5px !important;
  z-index:1000;
}
.adding {
  background-color:#f4ffe5;
  border:1px solid #00892c;
}
.removing {
  background-color:#ffebe8;
  border:1px solid #cc0000;
}
.kc-rows .ui-sortable-helper {
  border:1px solid #b7f158;
  background:#ffffe0;
}
.kc-rows .ui-sortable-placeholder {
  background:#fcfcfc;
  border:1px dashed #dfdfdf;
  visibility:visible !important;
  padding:0;
	position:relative;
	z-index:0;
}


/* Multiinput */
.kcs-multiinput {margin:0;}
.kcs-multiinput table {
	border-collapse:separate;
	margin-bottom:0;
}
.kcs-multiinput th {cursor:move}
.kcs-multiinput p.actions {margin:1em 0 .75em;}
#wpbody-content .kcs-multiinput input[type="text"],
.kcs-rows input,
#wpcontent .kcs-multiinput textarea {
	margin:0;
}
.kcs-multiinput td.mceIframeContainer,
.kcs-multiinput .wp-editor-container {
	background:#fff;
}
.kcs-multiinput .mceToolbar {padding-right:0 !important}
.media-item .describe .kcs-multiinput {width:460px}
.media-item .describe .kcs-multiinput td {padding-top:8px;}
.media-item .describe .kcs-multiinput input[type="text"],
.media-item .describe .kcs-multiinput textarea {
	width: 385px;
}
#wpcontent select[multiple],
#wpcontent .kcs-multiselect {
	height:7.5em;
	padding-right:.5em;
}
.kcs-check,
.form-wrap .kcs-check {
	display:inline-block;
	background:none;
}

/* Filelist */
.kcsf-upload {display:inline-block;}
.kcs-file .info {margin-top:0;}
.kcs-file ul {padding-bottom:1em}
.kcs-file label input,
.kcs-file .rm,
.kcs-file img {
	vertical-align:middle;
}
.kcs-file img {
  width:50px;
  height:auto;
  cursor:move;
}
.kcs-file .rm {
  cursor:pointer;
  display:inline-block;
  height:16px;
  width:16px;
  background:url(images/actions.png) no-repeat 0 -48px;
}
.kcs-file .rm span {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
input.kcs-files {margin-right:.5em}
.kcs-file-info {padding:1em}

.kcs-file-single p .up,
.kcs-file-single span {
	display:inline-block;
	vertical-align:middle;
}
.kcs-file-single span {margin-left:1em}
.kcs-file-single[data-type="image"] p span,
.kcs-file-single[data-type="image"] > a {
	display:none;
}
.kcs-file-single[data-type="image"] p .up {display:inline-block;}
.kcs-file-single img {
	display:block;
	max-width:100% !important;
	height:auto !important;
}
#media-items .kcs-files {margin-right:.5em}
#media-items .kc-select,
.kcs-wrap .button {
	margin-right:1em;
}
.kcs-wrap {margin:1em 0}

.description .impo {color:#cc0000}

/* Post sidebar metabox */
.kcs-sideform > li {padding-bottom:1em;}
.kcs-sideform input.kcs-input {width:99%}
.kcs-sideform .side-label {
	display:block;
	font-weight:bolder;
	margin-bottom:.25em;
}
.kcs-sideform .kcs-check {padding-left:.5em;}
#poststuff .kcs-sideform p {margin-bottom:.2em;}
.kcs-sideform .kcs-file label {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:160px;
	display:inline-block;
}
#wpcontent .kcs-sideform .kcs-multiinput input,
#wpcontent .kcs-sideform .kcs-multiinput textarea {
	width:195px
}
.widefat input.widefat,
.widefat select.widefat {
	background:#fff;
}

.form-field input[type="checkbox"],
.form-field input[type="radio"] {
	width:auto;
}


/*** HTML5 inputs ***/
input[type="number"],
input[type="date"], input[type="month"],
input[type="week"], input[type="time"],
input[type="datetime"], input[type="datetime-local"] {
	text-align:right;
	background:#fff;
}
input.kcs-color.hasNative {
	background:none;
	padding:0;
	border:0;
	width:3em !important;
	height:2.5em !important;
	line-height:2.5em;
	cursor:pointer;
}

/*** WP Editor ***/
.kcs-field .quicktags-toolbar {padding:2px;}
.kcs-field .quicktags-toolbar input {width:auto}
.kcs-field .wp-editor-container textarea,
.form-table .wp-editor-container textarea.wp-editor-area,
.form-table .kcs-multiinput textarea,
#profile-page .form-table textarea.wp-editor-area {
	width:99.9% !important;
	display:block;
	margin:0;
}
.kcs-field .wp-editor-container textarea,
.form-table .wp-editor-container textarea {
	border:0;
}
.form-wrap .kcs-field .kcs-file label {display:inline-block;}

/*** Term metadata ***/
#edittag .kcs-multiinput,
#addtag .kcs-multiinput,
#edittag .kcs-field .wp-editor-wrap {
	width:95%;
}

/* jQ UI */
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }


/*** Misc. ***/
.form-table td p.info {margin-bottom:0}
.kcDPMonth {padding-bottom:.2em;}
.kcDPMonth .ui-datepicker-calendar {display:none;}


/*** Nav menu item metadata ***/
.kc-menu-item-section {
	padding-top: .5em;
	clear: both;
}
.kc-menu-item-section h2 {
	font-size: 1em;
	font-weight: bold;
	line-height: 1;
	padding: 0;
}
.kc-menu-item-section .kcs-field-wrap {
	display: block;
	color: #333;
}
.kc-menu-item-section input.kcs-input {
	width: 99%;
}
.kc-menu-item-section .kcs-checkbox-wrap {
	max-height: 7.4em;
	overflow: auto;
}
.kc-menu-item-section .kcs-check {
	font-style: normal;
}
.kc-menu-item-section .kcs-multiselect {
	display: block;
}

/*** Nav menu metadata ***/
#kc-menu_navmeta {
	display: none;
}
#kc-menu_navmeta h2 {
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size: 1.25em;
}

/*** Builder ***/
.kcsb {
	width:600px;
	position:relative;
}
#kcsb-table,
.kcsb-export {
	margin-bottom:3em;
}
.kcsb-clone a {
	position:relative;
	top:4px;
	margin:0 3px;
}
.kcsb-clone .clone-id {margin-bottom:5px}

.kcsb .nr {color:#00892c}
.kcsb-tools .widefat {width:auto}
.kcsb-tools button {background:none;border:0;cursor:pointer}
.kcsb-clone {padding-top:4px}
.kcsb .checkbox {background:none}

.kcsb h4 {
  font-size:1.1em;
  margin-bottom:.5em;
}
.kcsb h5 {
  font-size:1em;
  margin:0 0 .5em;
}
.kcsb .main > li {
	padding:3px 0;
	margin:0;
}

.kcsb .ml {
	position:absolute;
	padding-top:4px;
}
.kcsb .mi {display:block;}
.kcsb .general .ml {width:235px}
.kcsb .general .mi {margin-left:240px}
.kcsb .sections .main .ml {width:220px}
.kcsb .sections .main .mi {margin-left:225px}
.kcsb .fields .main .ml {width:205px}
.kcsb .fields .main .mi {margin-left:210px}
.kcsb .subfields .main .ml {width:190px}
.kcsb .subfields .main .mi {margin-left:195px}

.kcsb textarea {
	display:block;
	min-height:8em;
	width:25em;
	resize:vertical;
}

.kcsb details > * {padding-left:10px;}
.kcsb details > summary {padding-left:0}
.kcsb details summary > * {
	display:inline-block;
	vertical-align:middle;
}
.kcsb .actions h5 {
  font-size:1em;
  margin:0 1em 0 0;
}

.mi.kc-rows {margin-left:184px;}
.options .regular-text {width:18em}
.options label {
	display:inline-block;
	width:auto;
	margin-right:.5em;
}
.wrap h3 small {
	font-weight:normal;
	margin-left:.75em;
	display:inline-block;
	vertical-align:middle;
}
.kcsb-export textarea.widefat {
	resize:vertical;
	min-height:27em;
	font-size:1.1em;
	font-family: 'Luxi Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
	line-height:1.4;
	background:#fcfcfc;
}
.help-tab-content pre {
	background:#eaeaea;
	max-height:20em;
	overflow:auto;
	padding:.75em;
	border-radius:.3em;
}
.help-tab-content pre .ccomment {color:#8a8a8a}

.iris-picker .ui-slider-handle {
	margin:0;
}
.iris-slider-offset {
	border:0;
	background:none;
	width:auto;
	height:auto;
}

.wrap .kc-media-list {
	margin-top:0;
	margin-left:-10px;
}
.kc-media-list li {
	float:left;
	text-align:center;
	position:relative;
}
.kc-media-list .attachment-preview {
	height:100px;
	width:100px;
}
.kc-media-list .filename {
	line-height:1.3;
}
.kc-media-list .type-image .filename {
	display:none;
}
.kc-media-list img {
	width:auto;
	max-width:100%;
	height:auto !important;
	vertical-align:middle;
}
.kc-media-list .title {
	display:block;
	text-align:center;
	height:1em;
	line-height:1em;
	text-overflow:ellipsis;
	overflow:hidden;
}
.wrap .kc-media-selector p {
	clear:both;
	font-style:normal;
}
.wrap .kc-media-selector p.description {
	padding-left:0;
}
