.kcsb {width:45em}
.kcsb-block {margin-bottom:3em}
.kcsb .checkbox {background:none}
.kcsb-ml {display:inline-block;width:9em;margin-right:1em;vertical-align:top}
.kcsb-mi {display:inline-block}
input.kcsb-mi {width:23em}
.kcsb-mi div.kcsb-mi, .kcsb-mi ul.kcsb-mi {width:23em}
.kcsb-options label {display:block}
.kcsb-options label span {display:inline-block;width:4em}
.row {padding:0 2em 1em 0;position:relative}
.actions {text-align:right;position:absolute;right:0;top:0}
.actions li {font-size:.9em;line-height:1;margin-left:1em}
.kcsb-options .actions li {margin:0 0 2px 0}
.actions a, .kcsb-clone a {display:inline-block;height:16px;width:16px;background:url(images/actions.png) no-repeat}
.actions a.add {background-position:0 -80px}
.actions a.del {background-position:0 -48px}
.actions a.up {background-position:0 -16px}
.actions span, .kcsb-clone span {position: absolute !important;clip: rect(1px 1px 1px 1px);clip: rect(1px, 1px, 1px, 1px)}
.kcsb-clone a {position:relative;top:4px;margin:0 3px}
.kcsb-clone .clone-do {background-position:0 bottom}
.kcsb-clone .close {background-position:0 -64px}
.kcsb .nr {color:#00892c}
.kcsb-tools .widefat {width:auto}
.kcsb-tools button {background:none;border:0;cursor:pointer}
.kcsb-clone {padding-top:4px}
